@model PagedViewModel<BlogPost>

@foreach (var item in Model.Items)
{
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="blog-item">
            <div class="post-format">
                <a asp-action="details" asp-route-slug="@item.Slug">
                    <img src="~/uploads/images/@item.ImagePath" alt="img" />
                </a>
            </div>
            <div class="post-info">
                <div class="category-blog">
                    <span>@item.Category?.Name</span>
                </div>
                <h3 class="post-title">
                    <a asp-action="details" asp-route-slug="@item.Slug">
                        @item.Title
                    </a>
                </h3>
                <div class="main-info-post ellipse" style="width: 246px;">
                    <p class="des">
                        @Html.Raw(item.Body)
                    </p>
                </div>
            </div>
        </div>
    </div>

}

<!-- Pagination -->

<div style="text-align:center;">
    <div class="col-12 col-xl-12 col-lg-12">
        @Model.GetPager(Url, "Index", paginateFunction:"goPage")
    </div>
</div>



