@model IEnumerable<Basket>

@{
    var info = Model.GroupBy(g => g.UserId)
                                    .Select(g => new
                                    {
                                        TotalSum = g.Sum(m => m.Quantity * m.Product.Price),
                                        TotalCount = g.Count()
                                    })
                                    .FirstOrDefault();
}


<div class="block-minicart stelina-mini-cart block-header stelina-dropdown">
    <a asp-action="basket" asp-controller="shop"
       style=""
       class="shopcart-icon"
       data-product-amount="@info?.TotalCount"
       data-stelina="stelina-dropdown">
        Cart

        @if (info?.TotalCount > 0)
        {
            <span class="count count-cart"> @info.TotalCount </span>
        }
    </a>
    <div class="shopcart-description stelina-submenu">
        <div class="content-wrap">
            <h3 class="title">Shopping Cart</h3>

            @if (info?.TotalCount > 0)
            {
                <ul class="minicart-items">
                    @foreach (var item in Model)
                    {
                        <li class="product-cart mini_cart_item basket-item-@item.ProductId">
                            <a asp-controller="shop" asp-action="details" asp-route-id="@item.ProductId" class="product-media">
                                <img src="~/uploads/images/@item.Product.Images.FirstOrDefault()?.Name"
                             alt="img" />
                            </a>
                            <div class="product-details">
                                <h5 class="product-name">
                                    <a asp-controller="shop" asp-action="details" asp-route-id="@item.ProductId">@item.Product.Name</a>
                                </h5>
                                <span class="product-price">
                                    <span class="price">
                                        <span>@item.Product.Price.ToString("0.00₼")</span>
                                    </span>
                                </span>
                                <span class="product-quantity product-number-header-basket-@item.ProductId"> (x @item.Quantity) </span>
                                <div class="product-remove">
                                    <a onclick="removeFromBasket(this, '@item.Product.Name');return"
                               data-product-id="@item.ProductId"
                               aria-remove-target=".basket-item-@item.ProductId"
                               style="cursor: pointer;">

                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                    }

                </ul>
                <div class="subtotal">
                    <span class="total-title">Total: </span>
                    <span class="total-price">
                        <span class="Price-amount"> @info.TotalSum.ToString("0.00₼") </span>
                    </span>
                </div>
                <div class="actions">
                    <a class="button button-viewcart"
                   asp-action="basket" asp-controller="shop">
                        <span>Cart</span>
                    </a>
                    <a asp-controller="shop" asp-action="checkout" class="button button-checkout">
                        <span>Checkout</span>
                    </a>
                </div>
            }
        </div>
    </div>
</div>

<script class="removable">

    const dropdownIcon = document.querySelector('.shopcart-icon');

    if (dropdownIcon.hasAttribute('data-product-amount')) {

      const value = dropdownIcon.getAttribute('data-product-amount');

      if (value === '') {
          document.querySelector('.block-minicart.stelina-mini-cart.block-header.stelina-dropdown').addEventListener('click', function(e) {
             if (e.target.tagName === 'A') {
               e.stopPropagation();
             }
          });
      }
    }
    
</script>



