@model OrderViewModel

@{
    ViewData["Title"] = "Checkout";
}


<div class="main-content main-content-checkout">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-trail breadcrumbs">
                    <ul class="trail-items breadcrumb">
                        <li class="trail-item trail-begin">
                            <a href="index.html">Home</a>
                        </li>
                        <li class="trail-item trail-end active">Checkout</li>
                    </ul>
                </div>
            </div>
        </div>
        <h3 class="custom_blog_title">Checkout</h3>
        <div class="checkout-wrapp">
            <div class="shipping-address-form-wrapp">
                <div class="shipping-address-form checkout-form">
                    <form class="row-col-1 row-col" id="checkout-form" novalidate>
                        <div class="shipping-address">
                            <h3 class="title-form">Order details</h3>

                            <p class="form-row form-row-first">
                                <label class="text">First name</label>
                                <input asp-for="@Model.OrderDetails.Firstname" title="first" type="text" class="input-text" />
                                <span asp-validation-for="@Model.OrderDetails.Firstname" class="text-danger validation-error"></span>
                            </p>

                            <p class="form-row form-row-last">
                                <label class="text">Last name</label>
                                <input asp-for="@Model.OrderDetails.Lastname" title="last" type="text" class="input-text" />
                                <span asp-validation-for="@Model.OrderDetails.Lastname" class="text-danger validation-error"></span>
                            </p>

                            <p class="form-row form-row-first">
                                <label class="text">Phone number</label>
                                <input asp-for="@Model.OrderDetails.PhoneNumber" title="phoneNumber" type="text" class="input-text" />
                                <span asp-validation-for="@Model.OrderDetails.PhoneNumber" class="text-danger validation-error"></span>
                            </p>

                            <p class="form-row form-row-last">
                                <label class="text">Address</label>
                                <input asp-for="@Model.OrderDetails.Address" title="address" type="text" class="input-text" />
                                <span asp-validation-for="@Model.OrderDetails.Address" class="text-danger validation-error"></span>
                            </p>
                        </div>
                        <button type="submit" class="button button-payment">Complete order</button>
                        <input asp-for="OrderDetails.TotalAmount" value="@Model.BasketProducts.Sum(p => (p.Product.Price * p.Quantity))" hidden />
                        <input asp-for="OrderDetails.UserId" value="@User.GetCurrentUserId()" hidden />

                        @for (int i = 0; i < Model.BasketProducts.Count(); i++)
                        {
                            <input type="hidden" name="productIds" value="@Model.BasketProducts.ElementAt(i).ProductId">
                            <input type="hidden" name="quantities" value="@Model.BasketProducts.ElementAt(i).Quantity">
                        }

                    </form>
                    <div class="row-col-2 row-col">
                        <div class="your-order">
                            <h3 class="title-form">Your Order</h3>
                            <ul class="list-product-order">
                                @foreach (var item in Model.BasketProducts)
                                {
                                    <li class="product-item-order product-item-order-@item.ProductId">
                                        <div class="product-thumb">
                                            <a target="_blank" asp-action="details" asp-controller="shop" asp-route-id="@item.ProductId">
                                                <img src="~/uploads/images/@item.Product.Images.FirstOrDefault()?.Name" alt="img" />
                                            </a>
                                        </div>
                                        <div class="product-order-inner">
                                            <h5 class="product-name">
                                                <a target="_blank" asp-action="details" asp-controller="shop" asp-route-id="@item.ProductId">@item.Product.Name</a>
                                            </h5>
                                            <div class="price">
                                                @item.Product.Price.ToString("0.00₼")
                                                <span class="count">x @item.Quantity</span>
                                            </div>
                                        </div>
                                    </li>
                                }

                            </ul>
                            <div class="order-total">
                                <span class="title"> Total Price: </span>
                                <span class="total-price total-price-checkout"> @Model.BasketProducts.Sum(p => (p.Product.Price * p.Quantity)) ₼ </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*
 <script>
    Swal.fire({
    position: 'top-end',
    icon: 'success',
    title: 'Your order has been completed, you will receive message in few days',
    showConfirmButton: false,
    timer: 1500
    })

</script>*@


@section addcss{
<link rel="stylesheet" href="~/lib/toastr.js/toastr.min.css" />
<style>
    input[Name].novalidated,
    textarea[Name].novalidated {
        border: 1px solid rgb(223, 53,69);
    }
</style>
}

@section addjs{
<script src="~/lib/sweetalert/sweetalert.min.js"></script>
<script src="~/lib/toastr.js/toastr.min.js"></script>
<script src="~/lib/toastr.js/toastr.customize.js"></script>

<script>
    $(document).ready(function () {

        $("#checkout-form").submit(function (ev) {
            ev.preventDefault();

            let fd = new FormData(ev.currentTarget); // form => formData

            $.ajax({
                url: '@Url.Action("Checkout")',
                type: "POST",
                data: fd,
                processData: false,
                contentType: false,
                success: function (response) {

                    $("#checkout-form span.text-danger").remove();
                    $("#checkout-form input[Name]").removeClass("novalidated");
                    //console.log(response, "SUCCESS");

                    if (response.error == true) {

                        toastr.error(response.message);
                        showError(response.state);

                        return;
                    }

                    swal({
                       title: "Success!",
                       text: "Your order has been completed, you will receive message in few days",
                       icon: "success",
                       button: "Ok",
                    });

                    ev.currentTarget.reset();
                },
                error: function (errResponse) {
                   console.log(errResponse, "ERROR");
                }

            })


        })
    });

    function showError(state) {

        state.forEach(item => {
            //console.log(item)

            let errorInput = $(`#checkout-form input[name='${item.fieldName}']`);
            let errorSpan = $("<span/>", {
                class: 'text-danger validation-error',
                html: item.message
            });

            $(errorInput.parent()).append(errorSpan);
            $(errorInput).addClass("novalidated")
        });
    }
</script>
}




