@model Product

<div class="main-content main-content-details single no-sidebar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-trail breadcrumbs">
                    <ul class="trail-items breadcrumb">
                        <li class="trail-item trail-begin">
                            <a asp-action="index" asp-controller="home">Home</a>
                        </li>
                        <li class="trail-item">
                            <a asp-action="index" asp-controller="shop">Shop</a>
                        </li>
                        <li class="trail-item trail-end active">@Model.Name</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="content-area content-details full-width col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <div class="site-main">
                    <div class="details-product">
                        <div class="details-thumd">
                            <div class="image-preview-container image-thick-box image_preview_container">
                                <img id="img_zoom"
                                     data-zoom-image="/uploads/images/@Model.Images.FirstOrDefault(i => i.IsMain == true)?.Name"
                                     src="/uploads/images/@Model.Images.FirstOrDefault(i => i.IsMain == true)?.Name"
                                     alt="img" />
                                <a href="#" class="btn-zoom open_qv">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="product-preview image-small product_preview">
                                <div id="thumbnails"
                                     class="thumbnails_carousel owl-carousel"
                                     data-nav="true"
                                     data-autoplay="false"
                                     data-dots="false"
                                     data-loop="false"
                                     data-margin="10"
                                     data-responsive='{"0":{"items":3},"480":{"items":3},"600":{"items":3},"1000":{"items":3}}'>

                                    @foreach (var item in Model.Images.OrderByDescending(i => i.IsMain))
                                    {
                                        <a href="#"
                                       data-image="/uploads/images/@item.Name"
                                       data-zoom-image="/uploads/images/@item.Name"
                                       class="@(item.IsMain ? "active" : "")">
                                            <img src="/uploads/images/@item.Name"
                                             data-large-image="/uploads/images/@item.Name"
                                             alt="img" />
                                        </a>
                                    }


                                    @*<a href="#"
                                        data-image="assets/images/details-item-3.jpg"
                                        data-zoom-image="assets/images/details-item-2.jpg">
                                        <img src="~/assets/images/details-item-2.jpg"
                                        data-large-image="assets/images/details-item-2.jpg"
                                        alt="img" />
                                        </a>
                                        <a href="#"
                                        data-image="assets/images/details-item-3.jpg"
                                        data-zoom-image="assets/images/details-item-3.jpg">
                                        <img src="~/assets/images/details-item-3.jpg"
                                        data-large-image="assets/images/details-item-3.jpg"
                                        alt="img" />
                                        </a>
                                        <a href="#"
                                        data-image="assets/images/details-item-3.jpg"
                                        data-zoom-image="assets/images/details-item-4.jpg">
                                        <img src="~/assets/images/details-item-4.jpg"
                                        data-large-image="assets/images/details-item-4.jpg"
                                        alt="img" />
                                        </a>*@
                                </div>
                            </div>
                        </div>
                        <div class="details-infor">
                            <h1 class="product-title">@Model.Name</h1>
                            <div>
                                <rate rate-value="@Model.Rate" rate-product-id="@Model.Id"></rate>
                            </div>
                            <div class="availability">
                                availability:
                                <a href="#">in Stock</a>
                            </div>
                            <div class="price">
                                <span>@Model.Price ₼</span>
                            </div>
                            <div class="product-details-description">
                                <ul>
                                    <li>@Model.StockKeepingUnit</li>
                                </ul>
                            </div>
                            <div class="group-button">
                                <div class="yith-wcwl-add-to-wishlist">
                                    <div class="yith-wcwl-add-button">
                                        <a href="javascript:addToFavorites(@Model.Id)" class="@(Model.Id)full-heart-icon">Add to Wishlist</a>
                                    </div>
                                </div>
                                <div class="size-chart-wrapp">
                                    <div class="btn-size-chart">
                                        <a id="size_chart"
                                           href="/assets/images/size-chart.jpg"
                                           class="fancybox">View Size Chart</a>
                                    </div>
                                </div>
                                <div class="quantity-add-to-cart">
                                    @*
                                        <div class="quantity">
                                        <div class="control">
                                        <a class="btn-number qtyminus quantity-minus" href="#">-</a>
                                        <input type="number"
                                        data-product-id="@Model.Id"
                                        data-step="1"
                                        data-min="0"
                                        value="1"
                                        title="Qty"
                                        class="input-qty qty"
                                        size="4" />
                                        <a href="#" class="btn-number qtyplus quantity-plus">+</a>
                                        </div>
                                        </div>*@
                                   @* <button type="button" data-product-id="@Model.Id" onclick="addToBasket(event)" class="single_add_to_cart_button button">
                                        Add to cart
                                    </button>*@
                                    <button onclick="addToBasket(event)" data-product-id="@Model.Id" type="button" class="add-to-cart">
                                        <div class="default">Add to cart</div>
                                        <div class="success">Added</div>
                                        <div class="cart">
                                            <div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                        </div>
                                        <div class="dots"></div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-details-product">
                        <ul class="tab-link">
                            <li class="active">
                                <a data-toggle="tab"
                                   aria-expanded="true"
                                   href="#product-descriptions">
                                    Descriptions
                                </a>
                            </li>
                            <li class="">
                                <a data-toggle="tab"
                                   aria-expanded="true"
                                   href="#information">
                                    Information
                                </a>
                            </li>
                        </ul>
                        <div class="tab-container">
                            <div id="product-descriptions" class="tab-panel active">
                                <p>
                                    @Html.Raw(Model.Description)
                                </p>
                            </div>
                            <div id="information" class="tab-panel">
                                <table class="table table-bordered">
                                    <tr>
                                        <td>Brand</td>
                                        <td>@Model.Brand?.Name</td>
                                    </tr>
                                    <tr>
                                        <td>Category</td>
                                        <td>@Model.Category?.Name</td>
                                    </tr>
                                </table>
                            </div>@*
                                <div id="reviews" class="tab-panel">
                                <div class="reviews-tab">
                                <div class="comments">
                                <h2 class="reviews-title">
                                1 review for
                                <span>Glorious Eau</span>
                                </h2>
                                <ol class="commentlist">
                                <li class="conment">
                                <div class="conment-container">
                                <a href="#" class="avatar">
                                <img src="~/uploads//images/avartar.png"
                                alt="img" />
                                </a>
                                <div class="comment-text">
                                <div class="stars-rating">
                                <div class="star-rating">
                                <span class="star-5"></span>
                                </div>
                                <div class="count-star">(1)</div>
                                </div>
                                <p class="meta">
                                <strong class="author">Cobus Bester</strong>
                                <span>-</span>
                                <span class="time">June 7, 2013</span>
                                </p>
                                <div class="description">
                                <p>
                                Simple and effective design. One of my
                                favorites.
                                </p>
                                </div>
                                </div>
                                </div>
                                </li>
                                </ol>
                                </div>
                                <div class="review_form_wrapper">
                                <div class="review_form">
                                <div class="comment-respond">
                                <span class="comment-reply-title">
                                Add a review
                                </span>
                                <form class="comment-form-review">
                                <p class="comment-notes">
                                <span class="email-notes">
                                Your email address will not be
                                published.
                                </span>
                                Required fields are marked
                                <span class="required">*</span>
                                </p>
                                <div class="comment-form-rating">
                                <label>Your rating</label>
                                <p class="stars">
                                <span>
                                <a class="star-1" href="#"></a>
                                <a class="star-2" href="#"></a>
                                <a class="star-3" href="#"></a>
                                <a class="star-4" href="#"></a>
                                <a class="star-5" href="#"></a>
                                </span>
                                </p>
                                </div>
                                <p class="comment-form-comment">
                                <label>
                                Your review
                                <span class="required">*</span>
                                </label>
                                <textarea title="review"
                                id="comment"
                                name="comment"
                                cols="45"
                                rows="8"></textarea>
                                </p>
                                <p class="comment-form-author">
                                <label>
                                Name
                                <span class="">*</span>
                                </label>
                                <input title="author"
                                id="author"
                                name="author"
                                type="text"
                                value="" />
                                </p>
                                <p class="comment-form-email">
                                <label>
                                Email
                                <span class="">*</span>
                                </label>
                                <input title="email"
                                id="email"
                                name="email"
                                type="email"
                                value="" />
                                </p>
                                <p class="form-submit">
                                <input name="submit"
                                type="submit"
                                id="submit"
                                class="submit"
                                value="Submit" />
                                </p>
                                </form>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>*@
                        </div>
                    </div>
                    <div style="clear: left"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section addjs{
    <script>

        $('.rate div').click(function (e) {
            e.preventDefault();
            e.stopPropagation();

            const data = $(e.currentTarget).data();

            console.log(data);

            $.ajax({
                url: '@Url.Action("SetProductRate")',
                type: 'POST',
                data: data,
                contentType: 'application/x-www-form-urlencoded',
                success: function (response) {
                    location.reload();
                    //console.log(response);
                },
                error: function (response) {
                    //console.error(response);
                }
            });
        });


    </script>
}



@section addcss{
    <style>
        .rate {
            display: flex;
        }

            .rate div {
                color: #f9ba48;
                margin-right: 1px;
                list-style: none;
                font-family: "Font Awesome 5 Free";
                cursor: pointer;
            }

                .rate div::before {
                    content: "\f005";
                    font-weight: 400;
                }

            .rate.rate-half1 div:nth-child(1)::before {
                content: "\f5c0";
                font-weight: 900;
            }

            .rate.rate-1 div:nth-child(1)::before,
            .rate.rate-half2 div:nth-child(1)::before,
            .rate.rate-3 div:nth-child(1)::before,
            .rate.rate-3 div:nth-child(2)::before,
            .rate.rate-half3 div:nth-child(1)::before,
            .rate.rate-half3 div:nth-child(2)::before,
            .rate.rate-half4 div:nth-child(1)::before,
            .rate.rate-half4 div:nth-child(2)::before,
            .rate.rate-half4 div:nth-child(3)::before,
            .rate.rate-4 div:nth-child(1)::before,
            .rate.rate-4 div:nth-child(2)::before,
            .rate.rate-4 div:nth-child(3)::before,
            .rate.rate-half5 div:nth-child(1)::before,
            .rate.rate-half5 div:nth-child(2)::before,
            .rate.rate-half5 div:nth-child(3)::before,
            .rate.rate-half5 div:nth-child(4)::before,
            .rate.rate-5 div:nth-child(1)::before,
            .rate.rate-5 div:nth-child(2)::before,
            .rate.rate-5 div:nth-child(3)::before,
            .rate.rate-5 div:nth-child(4)::before {
                content: "\f005";
                font-weight: 900;
            }

            .rate.rate-half2 div:nth-child(2)::before {
                content: "\f5c0";
                font-weight: 900;
            }

            .rate.rate-2 div:nth-child(1)::before,
            .rate.rate-2 div:nth-child(2)::before {
                content: "\f005";
                font-weight: 900;
            }

            .rate.rate-half3 div:nth-child(3)::before {
                content: "\f5c0";
                font-weight: 900;
            }

            .rate.rate-3 div:nth-child(3)::before {
                content: "\f005";
                font-weight: 900;
            }

            .rate.rate-half4 div:nth-child(4)::before {
                content: "\f5c0";
                font-weight: 900;
            }

            .rate.rate-4 div:nth-child(4)::before {
                content: "\f005";
                font-weight: 900;
            }

            .rate.rate-half5 div:nth-child(5)::before {
                content: "\f5c0";
                font-weight: 900;
            }

            .rate.rate-5 div:nth-child(5)::before {
                content: "\f005";
                font-weight: 900;
            }
   </style>
}
